---
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';
import { getAllPosts } from '@lib/sanity';

const posts = await getAllPosts();
---

<Layout
  title='Blog'
  description='Brutal Blog | On this page you can find a collection of blogposts'
  pageTitle='Brutal Blog'
>
  <main class='bg-primary p-6 min-h-screen'>
    <BlogList posts={posts} />
  </main>
</Layout>
