---
import type {SanityPost} from '@lib/sanity'
import BlogSummaryCard from './BlogSummaryCard.astro'

interface Props {
  posts: SanityPost[];
}

const {posts} = Astro.props;
---

{posts.length === 0 ? (
  <p class="text-center text-gray-600">Nenhum post publicado ainda.</p>
) : (
  <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
    {posts.map((post) => (
      <li>
        <BlogSummaryCard post={post} />
      </li>
    ))}
  </ul>
)}
