---
import BlogList from '../blog/BlogList.astro'
import {Card, Button} from '@eliancodes/brutal-ui'
import {getAllPosts} from '@lib/sanity'

interface Props {
  count?: number;
}

const {count} = Astro.props
const posts = (await getAllPosts()).slice(0, count ?? 3)
---

<section class='mt-8'>
  <Card>
    <div class='flex justify-between items-start'>
      <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 heading-font'>
        Posts Recentes
      </h2>
      <div class='hidden md:block'>
        <Button href='/blog/'>Ver blog &rarr;</Button>
      </div>
      <div class='block md:hidden'>
        <Button href='/blog/'>blog</Button>
      </div>
    </div>
    <BlogList posts={posts} />
  </Card>
</section>
